<div class="input-group input-group-lg">
    <input type="text" class="form-control shadow-none" id="search-input" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-lg" placeholder="Search your favorite books">
    <button class="btn btn-primary large" id="search-btn" onclick="handleSearch()">Search Books</button>
</div>
